@media screen and (max-width: 991px) {

    #content-img{
        margin-top: 0;
        padding-bottom: 5%;
    }

    .box{
        height: inherit;
    }

    #circle{
        margin-left: auto;
        margin-right: auto;
    }

    .toggle header span.titre-toggle{
        position: relative;
        top:-10px;
        font-size: 16px;
    }

    p img {
        width: 80%;
        height: auto;
    }

    #graph1, #graph2{
        margin-left: auto;
        margin-right: auto;
    }
}
