#content-img{
    margin-top: 55%;
}

.img-reponsive {
    width: 100%;
    height: auto;
}

#sidebar-menu li{
    margin-left: -24px;
    text-align: justify;
}

#sidebar-menu li a{
    font-size: 16px;
}

.box{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 0px 2px 0px;
    height: 100px;
}

.box p {
    font-size: 15px;
    text-align: center;
    margin-top: 18px;
}

#circle{
    border-radius:50%;
    width:90px;
    height:90px;
}

#circle p{
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

.toggle{
    margin-bottom: 40px;
}

.toggle header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toggle article{
    padding: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.toggle ul{
    width:100%;
    margin-bottom:20px;
    overflow:hidden;
    margin-top: 10%;
}

.toggle ul li{
    font-size: 16px;
    line-height:1.5em;
    float:left;
    display:inline;
    width:50%;
}

.toggle header span.arrow-toggle{
    float: right;
    margin-right: 10px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg);
    cursor: pointer;
}

.toggle header span.titre-toggle{
    margin-left: 30px;
    color: white;
    font-size: 30px;
}

.flaticon-worldgrid:before, .flaticon-arrow483:before{
    font-size: 40px;
}
.flaticon-worldgrid, .flaticon-arrow483{
    color:white;
}
