#content-img{
    margin-top: 155%;
}

#sidebar-menu li{
    margin-left: -24px;
    text-align: justify;
}

#sidebar-menu li a{
    font-size: 16px;
}

.box{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 0px 2px 0px;
    height: 110px;
}

.box p {
    font-size: 15px;
    text-align: center;
    margin-top: 18px;
}

#circle{
    border-radius:50%;
    width:90px;
    height:90px;
}

#circle p{
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
}

.toggle header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toggle article{
    padding: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.flaticon-worldgrid:before{
    font-size: 40px;
}
.flaticon-worldgrid{
    color:white;
}
